body {
  padding: 10px;
  font-family: sans-serif;
}
#nbc_image {
  height: 8vh;
}
.nav_icons {
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
  color: black;
}
.nav_links {
  display: flex;
  justify-content: space-around;
}
.nav_links a {
  text-decoration: none;
  color: black;
  margin-top: 2vh;
}
.nav_icons i {
  margin-top: 3vh;
  color: black;
}
.nav_links i {
  margin-top: 3vh;
  color: black;
}
.color1 {
  background-color: #f1f2f3;
}
.firstNew img {
  height: 30%;
}
.firstNewIcons {
  display: flex;
  justify-content: space-between;
}
#firstNewPicture {
  position: relative;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.firstNewIcons p {
  color: red;
  font-weight: 600;
}
.firstNewIcon {
  display: flex;
  justify-content: space-around;
  width: 10vh;
}
#firstNewHeader {
  font-weight: bold;
}
#firstNewSource {
  font-weight: 300;
  font-size: small;
}
.breakingNews {
  background-color: #c31815;
  height: 7vh;
  display: flex;
  justify-content: center;
}
#breakingNewsP {
  background-color: white;
  color: red;
  padding-left: 1vh;
  padding-right: 1vh;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, 25%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#breakingNewsExp {
  color: white;
  padding-left: 1vh;
  padding-right: 1vh;
  transform: translate(0%, 25%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsFilter {
  width: 100%;
  background-color: white;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsFilter a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#newsUpChatagories {
  display: flex;
  justify-content: flex-start;
}
.newsIcon i {
  font-size: large;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  width: 48%;
  height: auto;
  margin-bottom: 5vh;
}

.card_icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card img {
  width: 100%;
  object-fit: cover;
}
.oneNewHeader {
  font-weight: bold;
}
.oneNewHeaderRow {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 6px;
}

.oneNewExplain {
  font-size: small;
}
.oneNewExplainRow {
  padding-left: 15px;
  padding-right: 6px;
}
.oneNewSourceRow {
  padding-left: 15px;
  padding-right: 6px;
}
#livePicture {
  width: 100%;
}
#liveExplain {
  font-weight: bold;
  margin-top: 1vh;
}
.locationNews {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.locationNewInput {
  width: 100%;
}
.locationNewButton button {
  background-color: #c31815;
  color: white;
  width: 12vh;
  height: 5vh;
}
.liveIcon {
  display: flex;
  justify-content: flex-start;
}
.upCarosel {
  display: flex;
  justify-content: flex-start;
}
.footerAbout {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footerAbout a {
  width: 15vh;
  text-decoration: none;
}
.footer-2 {
  background-color: #0e1e32;
}
.colorWhite {
  color: white;
}
.nbcFooter img {
  width: auto;
  background: transparent;
}
.footerUnderImage {
  font-weight: 400;
  font-size: small;
}
.footerLeft {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
}
.footerCenter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: flex-start;
}
.width5vh {
  width: 5vh;
}
.footerIcon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
}
.carouselNews {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  align-content: center;
  align-items: center;
}
.carouselImage {
  height: 100%;
}
.carouselNew {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.carouselHeader {
  font-size: large;
  font-weight: bold;
}
.carouselText {
  font-size: small;
}
.carouselHeaderText {
  width: 50%;
}
.carouselImageDiv {
  height: 20vh;
}
.moreNewsClass {
  width: 100%;
  display: flex;
  justify-content: center;
}
.moreNewsClass button {
  color: #c31815;
  border-color: #c31815;
  border: solid 1px;
  padding-left: 5vh;
  padding-top: 2vh;
  padding-right: 5vh;
  padding-bottom: 2vh;
}
